@charset "UTF-8";
@use "sass:string";
@use "../../../core/jkl";

$_loader-size--large: 3em;
$_loader-size--medium: 2em;
$_loader-size--small: 1.5em;

.jkl-loader {
	display: flex;

	&--inline {
		display: inline-flex;
	}

	width: $_loader-size--large;
	height: $_loader-size--large;

	&--medium {
		width: $_loader-size--medium;
		height: $_loader-size--medium;
	}

	&--small {
		width: $_loader-size--small;
		height: $_loader-size--small;
	}
}
