@use "../../../core/jkl";
@use "../../icon/styles/base-styles" as icon;

$_north-east-arrow: "\ffea";

.jkl-link {
	--link-color: var(--jkl-color-text-default);

	color: var(--link-color);
	outline: none;

	@include jkl.motion("standard", "energetic");
	transition-property: color;

	text-decoration: underline;
	text-underline-offset: #{jkl.rem(6px)};
	text-decoration-thickness: 0.05em;
	text-decoration-color: rgb(from currentColor r g b / 70%);

	&--external::after,
	&[target="_blank"]::after {
		@include jkl.decorative($content: $_north-east-arrow);
		font-family: "Synk Lucide Icons", sans-serif;
		font-size: 1.2em;

		// Trengs for at non breaking space skal ha effekt
		display: inline;
	}

	&:hover:not(:focus) {
		--link-color: var(--jkl-color-text-interactive-hover);
	}

	&:focus-visible {
		@include jkl.focus-outline($offset: 0);
	}

	@include jkl.forced-colors-mode {
		&:hover:not(:focus) {
			--link-color: HighLight;
		}
	}
}
